*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--color-black);
}

html{
  width: 100%;
  height: 100%;
}

body{
  color: var(--color-black);
  min-width: 320px;
  overflow-x: hidden;
  @include font(var(--font-inter), 15px, 18.15px, 400);
  min-height: var(--window-height);
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 15px;
  }
}

/* Убираем внутренние отступы */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
li {
  margin: 0;
}

/* Элементы a, у которых есть атрибут class, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &[class] {
    &:focus,
    &:active {
      outline: none;
    }
  }
}

/* Упрощаем работу с изображениями */
img {
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;

  &:focus,
  &:active {
    outline: none;
  }
}

textarea {
  resize: none;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
}
h1 {
  @include fontAdaptive(40px, 48.41px, 700)
}

h2 {
  @include fontAdaptive(25px, 30.26px, 600)
}

h5 {
  @include fontAdaptive(15px, 18.15px)
}


