// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Media
// =============================================================================

// ниже 1660
@mixin desktop {
  @media screen and (max-width: 1660px) {
    @content;
  }
}

// ниже 1440
@mixin laptop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

// ниже 1024
@mixin tablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

// ниже 780
@mixin phone {
  @media screen and (max-width: 779px) {
    @content;
  }
}

// =============================================================================
// Mixin for fonts adaptive
// =============================================================================

@mixin font($fontFamily, $size, $lineHeight, $weight) {
  font-family: $fontFamily, sans-serif;
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}

@mixin fontAdaptive($size, $lineHeight, $weight: null) {
  font-size: $size;
  line-height: $lineHeight;
  @if ($weight) {
    font-weight: $weight;
  }
}

// =============================================================================
// Others
// =============================================================================
