:root {
  // =============================================================================
  // Colors
  // =============================================================================

  --color-black: #000000;
  --color-black2: 0,0,0;
  --color-white: #FFF;
  --color-gray: #E9E9E9;
  --color-blue: 64,111,233;
  --color-brown: #C6BDBD;

  // =============================================================================
  // Shadow(box-shadow)
  // =============================================================================


  // =============================================================================
  // Filter
  // =============================================================================
  //--filter-place-card: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  // =============================================================================
  // Z-index
  // =============================================================================

  --z-hidden: -100;
  --z-background: -1;
  --z-bottom: 1;
  --z-pre-middle: 20;
  --z-middle: 30;
  --z-default: 50;
  --z-up: 60;
  --z-100: 100;
  --z-200: 200;
  --z-500: 500;
  --z-pre-top: 900;
  --z-top: 1000;
  --z-1200: 1200;
  --z-1300: 1300;
  // =============================================================================
  // Fonts
  // =============================================================================

  --font-inter: Inter, sans-serif;
}
