.main-page {
  height: 100%;

  &__form-container {
    position: relative;
  }

  &__container {
    display: grid;
    grid-template-columns: 480px auto;
    //height: 100%;
  }

  &__card-list {
    padding: 50px 50px 50px 40px;
    position: relative;
  }

  &__form {
    position: fixed;
    width: 480px;
    height: 100%;
  }
}
